@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($white, 0.8);
  &__timer {
    margin: 0 auto;
  }

  @include mw($ph) {
    padding: 10px 0;
  };
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    @include font("PTRootUIWebBold");
    color: $black;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-wrap: nowrap;
    padding: 0 10px 10px 0;

    @include mw($ph) {
      font-size: 16px;
    };
  }
}

.clock {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  &__numbers {
    display: flex;
    box-sizing: border-box;
    color: $red;
    font-weight: bold;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;

    @include mw($ph) {
      font-size: 40px;
    };
  }

  &__number {
    @include font("Bebas Neue");
    padding: 0 8px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__separator {
    @include font("PTRootUIWebBold");
    color: rgba($red, 0.5);
    font-size: 38px;
    line-height: 1.3;
    text-align: center;

    @include mw($ph) {
      font-size: 25px;
    };
  }

  &__text {
    @include font("PTRootUIWebBold");
    color: $grey;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.8px;

    @include mw($ph) {
      font-size: 14px;
    };
  }
}
